# .env.example
DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:5432/whatsapp-2121?sslmode=disable
APP_DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:5432/custom-sudevwa?sslmode=disable
JWT_SECRET=YOUR_JWT_SECRET
APP_LOGIN_USERNAME=YOUR_USERNAME
APP_LOGIN_PASSWORD=YOUR_PASSWORD
PORT=2121
CORS_ORIGIN=http://localhost:8080